*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    
}

#main{
    height: 630px;
    width: 560px;
    border: solid 2px black;
    /* display: flex; */
    align-self: center;
    justify-self: center;
    margin-top: 3%;
}

#dis{
    height: 25%;
    width: 530px;
    border: 2px solid black;
    margin: 15px;
    /* margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%; */
}

#grid{
    width: 530px;
    margin: 15px;
    height: 68%;
    border: 2px solid black;
} 